.calculator {
  display: flex;
  flex: 0 1 auto;
}

@media screen and (max-width: 768px) {
  .calculator {
    flex-direction: column;
  }
}

.control-set {
  margin: 10px 0;
}

.control-set:not(:first-child) {
  margin-left: 15px;
}

.control-set--bpm {
  width: 400px;
}

.control-set--notes {
  width: 200px;
}

.control-set--playback {
  width: 100px;
}

@media screen and (max-width: 768px) {
  .control-set:not(:first-child) {
    margin-left: 0px;
  }

  .control-set--bpm,
  .control-set--notes,
  .control-set--playback {
    width: 320px;
  }
}

.control-box {
  margin: 10px 0;
}

.control-label {
  display: inline-block;
  width: 150px;
}

.control {
  display: inline-block;
  width: 150px;
}

.beeper {
  display: inline-block;
  margin-left: 15px;
}
