@import "../vars.scss";

.header {
  align-items: center;
  color: $white;
  display: flex;
  flex-direction: column;
  font-family: $fontHeadings;
}

.app-title {
  font-size: 50px;
  font-weight: 400;
  letter-spacing: 5px;
  margin: 0;
  text-transform: uppercase;

  @media (max-width: $bp420) {
    font-size: 36px;
    letter-spacing: 3px;
  }
}

.pwa-install-btn {
  transition: 0.3s ease all;
  background-color: transparent;
  border: 1px solid $installBtn;
  border-radius: 5px;
  color: $installBtn;
  cursor: pointer;
  font-family: $fontText;
  font-size: 14px;
  padding: 8px 12px;

  &:hover {
    background-color: $installBtn;
    color: white;
  }
}

.version-box {
  margin-top: -10px;
}

.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.article {
  color: $darkGrey;
  font-size: 14px;
  margin-bottom: 20px;
  text-align: center;
}

.footer {
  font-size: 12px;
  color: lighten($darkBlue, 40%);
  margin-top: 40px;
  text-align: center;
}

.link,
.link:visited {
  transition: 0.3s ease all;
  color: $lcd;
  letter-spacing: 1px;
  text-decoration: none;

  &:hover {
    color: $btnLit;
  }
}
