{
  "extends": [
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:jsx-a11y/recommended"
  ],
  "plugins": ["react"],
  "env": {
    "browser": true
  },
  "rules": {
    "react/prop-types": "off"
  }
}
