// Colours
$darkBlue: #1f2023;

$lcd: #f6500e;

$btnLit: #0df7d8;
$play: #0cf818;
$stop: $lcd;

$upbeat: $lcd;
$oddbeat: $lcd;
$downbeat: $btnLit;

// Fonts
$fontText: "Montserrat", sans-serif;
$fontHeadings: "Teko", sans-serif;
$fontMono: "Cutive Mono", sans-serif;
