// Colours
$darkBlue: #1f2023;

$lcd: #f8340c;

$btnLit: #eb9b3f;
$play: #38f063;
$stop: $lcd;

$upbeat: $lcd;
$oddbeat: $lcd;
$downbeat: #2feff9;

$installBtn: $lcd;

// Fonts
$fontText: "Montserrat", sans-serif;
$fontHeadings: "Teko", sans-serif;
$fontMono: "Cutive Mono", sans-serif;
